:root {
  --main-text-color: #212121;
  --sec-text-color: #ffffff;
  --descrip-text-color: #757575;
  --team-button-text-color: #f5f4fa;

  --main-backgroundcolor: #ffffff;
  --sec-backgroundcolor: #2196f3;
  --hero-backgroundcolor: #2f303a;
}

a {
  text-decoration: none;
}

.team img {
  width: 270px;
  height: 260px;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.webstudio {
  color: var(--main-text-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}

.web {
  color: var(--sec-backgroundcolor);
}

.link-studio,
.link-portfolio,
.link-contacts {
  color: var(--main-text-color);
}

.link-studio:hover,
.link-studio:focus {
  color: var(--sec-backgroundcolor);
}

.link-portfolio:hover,
.link-portfolio:focus,
.link-portfolio:active {
  color: var(--sec-backgroundcolor);
}

.link-contacts:hover,
.link-contacts:focus {
  color: var(--sec-backgroundcolor);
}
.mail {
  color: var(--main-text-color);
}

.mail:hover,
.mail:focus {
  color: var(--sec-backgroundcolor);
}

.telephone {
  color: var(--main-text-color);
}
.telephone:hover,
.telephone:focus {
  color: var(--sec-backgroundcolor);
}
.hero {
  background-color: var(--hero-backgroundcolor);
}

h1 {
  color: var(--main-backgroundcolor);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}
.service-button {
  background-color: var(--sec-backgroundcolor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
}

.service-button-p {
  color: var(--team-button-text-color);
}

.service-button-p:hover,
.service-button-p:focus {
  color: var(--sec-backgroundcolor);
}

.buttons > li:hover,
.buttons > li:focus {
  color: var(--sec-backgroundcolor);
}
.button-text-p {
  color: var(--main-text-color);
}

.button-text-p:hover,
.button-text-p:focus {
  color: var(--sec-text-color);
}

.button-text {
  color: var(--sec-text-color);
}

h2,
h3 {
  color: var(--main-text-color);
}

.description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--descrip-text-color);
}

.team {
  background-color: var(--team-button-text-color);
}

footer {
  background-color: var(--hero-backgroundcolor);
}

.description-team {
  color: var(--some-text-color);
}

.web-footer {
  color: var(--sec-backgroundcolor);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.studio-logo-footer {
  color: var(--sec-text-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
}

.address {
  color: var(--sec-text-color);
  font-style: normal;
}

.mail-footer,
.telephone-footer {
  color: rgba(255, 255, 255, 0.6);
}

.mail-footer:hover,
.mail-footer:focus {
  color: var(--sec-backgroundcolor);
}

.telephone-footer:hover,
.telephone-footer:focus {
  color: var(--sec-backgroundcolor);
}
